@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* label#\:r3\:-label {
  color: #6E6B7B !important;
}

label#\:r2\:-label {
  color: #6E6B7B !important;
}
label#\:r1\:-label {
  color: #6E6B7B !important;
} */

.MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiInputBase-colorPrimary.Mui-error.MuiInputBase-fullWidth.MuiInputBase-formControl.css-u42pxl-MuiInputBase-root-MuiFilledInput-root {
  background-color: #535353;
}

label#filled-multiline-flexible-label {
  color: #6E6B7B !important;
}

.css-ts3t6r-MuiFormLabel-root-MuiInputLabel-root .css-1rv476z-MuiInputBase-input-MuiFilledInput-input {
  color: #6E6B7B !important;
}

.css-1rv476z-MuiInputBase-input-MuiFilledInput-input {
  color: #6E6B7B !important;
}

.css-nh22sz-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input.css-nh22sz-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input.css-nh22sz-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input {
  color: #6E6B7B !important;
}

.css-su1yg6-MuiFormControl-root-MuiTextField-root {
  border-bottom: 1px solid #6E6B7B !important;
  background-color: #e8e8e8 !important;
}

.css-1aeamf1-MuiFormLabel-root-MuiInputLabel-root {
  color: #122582 !important;
}

.MuiBox-root .css-hkoid6{
  color:red;
}

.MuiInputBase-input .MuiFilledInput-input .css-1rv476z-MuiInputBase-input-MuiFilledInput-input{
  color: #000 !important;
}

.MuiInputBase-input .MuiFilledInput-input .css-1rv476z-MuiInputBase-input-MuiFilledInput-input{
  color: #000 !important;
}

.css-1wu7ecg-MuiSvgIcon-root-MuiSelect-icon {
  color: #122582 !important;
}

.css-15v9vqu-MuiFormLabel-root-MuiInputLabel-root {
  color: #6E6B7B !important;
}

.css-9425fu-MuiOutlinedInput-notchedOutline {
  border-color:#6E6B7B !important;
}

.css-fx7lo9-MuiChip-root {
  color: #122582 !important;
  background-color: #E2EDFC !important;
}

.css-nh22sz-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input.css-nh22sz-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input.css-nh22sz-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input {
  padding-right: 32px;
  background-color: #e8e8e8 !important;
}

.MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiInputBase-colorPrimary.Mui-error.MuiInputBase-fullWidth.MuiInputBase-formControl.css-u42pxl-MuiInputBase-root-MuiFilledInput-root {
  background-color: #E8E8E8 !important;
}

.css-14mx6dk-MuiInputBase-root-MuiFilledInput-root {
  color: #6E6B7B !important;
  background-color: rgba(255, 255, 255, 0.09);
}

.css-1nnk3cr-MuiFormControl-root-MuiTextField-root {
  border-bottom: 1px solid #6E6B7B;
  background-color: #E8E8E8 !important;
}

.css-u42pxl-MuiInputBase-root-MuiFilledInput-root {
  color: #fff;
  background-color: #E8E8E8 !important;
}

.css-14mx6dk-MuiInputBase-root-MuiFilledInput-root {
  color: #fff;
  background-color: #E8E8E8 !important;
}

.css-1h9uykw-MuiInputBase-input-MuiOutlinedInput-input {
    color: #6E6B7B !important;
}

.css-u3uxta-MuiFormLabel-root-MuiInputLabel-root  {
  color: #122582 !important;
}

.css-i4bv87-MuiSvgIcon-root {
  color: #122582 !important;
}

.css-1k33q06 {
  color: #122582 !important;
}

.css-1j7w81g {
  color: #122582 !important;
}


.css-5bv8d7-MuiInputBase-input-MuiInput-input {
  color: #6E6B7B !important;
}

.css-ptiqhd-MuiSvgIcon-root {
  color: #6E6B7B !important;
}

.css-1ktfdg8-MuiFormControl-root-MuiTextField-root-MuiDataGrid-toolbarQuickFilter .MuiInput-underline:before {
  border-bottom: 1px solid #6E6B7B;
}





.css-1dhi51 {
  background-color: rgb(255 255 255);
}

/* form background */
.css-97hhnj {
  background-color: #E8E8E8 !important; 
}

/* form active text */
.css-1476h24 {
  color: #6E6B7B !important;
}

/* form placeholder text */
.css-jfl3c {
  color: #6E6B7B !important;
}

.css-yop3gh {
  color: #122582 !important;
}

.css-4teun2 {
  background-color: #E2EDFC;
}

.css-9iedg7 {
  color: #122582;
}

.css-jfl3c {
  color: #6E6B7B !important;
}

.css-yop3gh {
  color: #122582 !important;
}

.css-4teun2 {
  background-color: #E2EDFC;
}

.css-9iedg7 {
  color: #122582;
}

.css-rtb262 {
  color: #6E6B7B !important;
}

.css-t6v7e2 {
  color: #6E6B7B !important;
}

.css-1iriwbp {
  background-color: #E8E8E8;
}

.css-1iriwbp {
  background-color: #E8E8E8;
}

.css-1mzc8 {
  border-radius: 5px;
  border: 1px solid #6E6B7B;
}

.css-1nk8f7x {
  color: #6E6B7B !important;
}

.css-4teun2 {
  background-color: #E2EDFC !important;
}

.css-1jwl4b4 {
  color: #6E6B7B !important;
}

.css-1t2c0if{
  background-color: #E8E8E8 !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid #6E6B7B;
}

.css-1xvtqwq {
  border-bottom: 1px solid #6E6B7B;
}

.css-1slajwm {
  background-color: #E8E8E8 !important;
  border-bottom: 1px solid #6E6B7B;
}

.css-1yvhojq {
  background-color: #e8e8e8 !important;
  }


  .css-13fnkzh {
    background-color: #e8e8e8;
   }
   
   .css-1fjkqht {
   background-color: #e8e8e8;
   }
   
   .css-19f3993 {
   color: #6E6B7B !important;
   }
   
   .css-putrnr {
   color: #6E6B7B !important;
   }
   
   .css-1f3vao0 {
       border: 1px solid #000;
       border-radius: 4px;
   }